<% include ../partials/head %>
<div class="display-header">
    <% include ../partials/header %>
    <% include ../partials/nav %>
</div>


    
    
    
    
    <main class="main-ost">
         <figure class="main-figure">

         </figure>
        <section>
                <h1>Ost</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt debitis,
                    asperiores magnam ducimus perferendis recusandae rerum provident omnis non sint!</p>
                <ul class="cardTemplate">
                </ul>
               
        </section>
    </main>

    <% include ../partials/footer %>
    <% include ../partials/afterfooter %>